header, footer {
    background-color: #333;
    min-height: 50px;
    color: white;
    padding: 8px;
    margin-bottom: 4px;
}

section {
    background-color: #dcdcdc;
    min-height: 150px;
    padding: 8px;
    margin-bottom: 4px;
}

article {
    background-color: #b6b6bf;
    min-height: 100px;
    padding: 8px;
    margin-bottom: 4px;
}

nav {
    background-color: #404040;
    padding: 8px;
    margin-bottom: 4px;
}

aside {
    background-color: #707070;
    min-height: 100px;
    padding: 8px;
    margin-bottom: 4px;
}

div{ background-color: white;margin: 0;padding: 0 }

#div-1{ background-color: #ff6a00; }
#div-1a{ background-color: #808080; }
#div-1b { background-color: #b6b6bf}
/*---------------------------------------------------------*/
